<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lhj.bluelibrary">
    <!-- BlueTooth -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- User -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <!--
        <receiver android:name="com.smartteam.ohwatch.bluetooth.ble.push.PhoneStateReceiver">
            <intent-filter  android:priority="1000">
                <action android:name="android.intent.action.PHONE_STATE"/>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.smartteam.ohwatch.bluetooth.ble.push.SmsBroadcastReceiver">
            <intent-filter  android:priority="900">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.smartteam.ohwatch.bluetooth.ble.push.MyNotificationService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"></action>
            </intent-filter>
        </service>
    -->
</manifest>
